body {
  margin: 0;
  padding: 0;  
}
.movies-list > div {
  margin-bottom: 1.2em;
  padding: 1.2em; 
  transition: all 300ms; 
}
.movies-list > div:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}
.movies-list > div:nth-child(odd) {
  background-color: beige;
}
.movies-list > div:nth-child(even) {
  background-color: burlywood;
}